##
## Callmonitor for Fritz!Box (callmonitor)
## 
## Copyright (C) 2005--2006  Andreas Bühmann <buehmann@users.berlios.de>
## 
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
## 
## http://developer.berlios.de/projects/callmonitor/
##
CALLMONITOR_PATH='/sbin:/bin:/usr/sbin:/usr/bin:/mod/sbin:/mod/bin:/mod/usr/sbin:/mod/usr/bin'
CALLMONITOR_ROOT='/mod/pkg/callmonitor'
CALLMONITOR_TMPDIR='/tmp'

CALLMONITOR_USERCFG='/mod/etc/conf/callmonitor.cfg'

flash='/tmp/flash'

CALLMONITOR_FIFO='/var/run/callmonitor/fifo'
CALLMONITOR_LISTENERS="$flash/callmonitor/listeners"

CALLMONITOR_PERSISTENT="$flash/callmonitor/callers"
CALLMONITOR_TRANSIENT="$CALLMONITOR_TMPDIR/callers"
CALLMONITOR_PREFIX=''
CALLMONITOR_PREFIX_RE=''
CALLMONITOR_SEPARATOR='	'
CALLMONITOR_SEPARATOR_RE='[[:space:]]\+'

## computed values
CALLMONITOR_LIBDIR="$CALLMONITOR_ROOT/usr/lib/callmonitor"

callmonitor_store() {
    "$CALLMONITOR_LIBDIR/modflash-later" > /dev/null 2>&1 &
}
lock_filename() {
    local file="$(realpath "$1")"
    case "$file" in
	/var/tmp/flash/*) echo "/var/tmp/flash" ;;
	*) echo "$file" ;;
    esac
}

## return true if another package is installed (no version check)
has_package() {
    local pkg="$1"
    if [ -e "/mod/pkg/$pkg" ]; then
	return 0
    else
	return 1
    fi
}

##if [ -d "$flash/" -a ! -e "$flash/callmonitor" ]; then
    mkdir -p "$flash/callmonitor"
##fi

unset flash
