##
## Callmonitor for Fritz!Box (callmonitor)
## 
## Copyright (C) 2005--2007  Andreas Bühmann <buehmann@users.berlios.de>
## 
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
## 
## http://developer.berlios.de/projects/callmonitor/
##
export CALLMONITOR_ENABLED='yes'
export CALLMONITOR_DEBUG='no'
export CALLMONITOR_DUMP='no'
export CALLMONITOR_REVERSE='yes'
export CALLMONITOR_REVERSE_CACHE='transient'
export CALLMONITOR_REVERSE_PROVIDER='dasoertliche'
export CALLMONITOR_AREA_PROVIDER='google'
export CALLMONITOR_READ_FONBUCH='no'
